header#main-header {
    width: 100%;
    height: 60px;
    background: #4682B4;
    font-size: 30px;
    font-weight: bold;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

#menu {
    width: 100%;
    height: 60px;
    font-weight: bold;
    font-display: white;
    display: flex;
    justify-content: center;
    align-items: center;

}

#menu a {
    border: 1px solid #4682B4;
    border-radius: 5px;
    margin-left: 10px;
    height: 42px;
    border-radius: 5px;
    color: #4682B4;
    font-weight: bold;
    font-size: 16px;
    align-items: center;
    transition: all 0.2s;
}

#menu a:hover {
    background: #4682B4;
    color: white;
}