.student-list {
    max-width: 700px;
    margin: 20px auto 0;
    padding: 0 20px;
}

.student-list article {
    background: #FFF;
    border: 1px solid #DDD;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
}

.student-list article p {
    font-size: 16px;
    color: #999;
    margin-top: 5px;
    line-height: 24px;
}

.student-list article a {
    height: 42px;
    border-radius: 5px;
    border: 2px solid #4682B4;
    color: #4682B4;
    font-weight: bold;
    font-size: 16px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s;
}

.student-list article a:hover {
    background: #4682B4;
    color: white;
}

